In [11]:
class MyClass(object):
    def __init__(self, value):
        print('O tipo do parametro value é ', type(value))
        print('O tipo do parametro self é ',  type(self))

In [12]:
instancia = MyClass('ABC')

O tipo do parametro value é  <class 'str'>
O tipo do parametro self é  <class '__main__.MyClass'>

In [6]:
instancia = MyClass(13.13)

O tipo do parametro value é  <class 'float'>
O tipo do parametro self é  <class '__main__.MyClass'>

In [8]:
class Carro(object):
    def __init__(self, fabricante, modelo):
        self.fabricante = fabricante
        self.modelo = modelo
        
carro1 = Carro('Nissan', 'Sentra')
print(carro1.fabricante, carro1.modelo)

Nissan Sentra

In [22]:
class MyClass2(object):
    def __init__(self, var):
          self._var = var
            
    @property
    def var(self):
        return self._var

    @var.setter
    def var(self, value):
        if value >  0:
            self._var = value
        else:
            print("Invalido")

In [24]:
instancia = MyClass2(12)
print(instancia.var)

instancia.var = 2
print(instancia.var)

instancia.var = -1
print(instancia.var)

12
2
Invalido
2

In [25]:

class Date(object):
    day = 1
    month = 1
    year = 1970
    def __init__(self, day, month, year):
        self.day, self.month, self.year = (day, month, year)
    
    @classmethod
    def from_string(cls, string):
        some_list = string.split('-')
        date = cls(some_list[0], some_list[1], some_list[2])
        return date

In [29]:
date1 = Date(12, 4, 2003)
print(date1.year, '-', date1.month, '-', date1.day)

2003 - 4 - 12

In [32]:
class Animal(object):
    def mover(*args, **kwargs):
        print("implementando")

class Cobra(Animal):
    def mover(*args, **kwargs):
        print("Cobra Rastejando")
        
class Leopardo(Animal):
    def mover(*args, **kwargs):
        print("Leopardo Correndo")
        
class Golfinho(Animal):
    def mover(*args, **kwargs):
        print("Golfinho Nadando")

In [33]:
animal = Animal()
animal.mover()

naja = Cobra()
naja.mover()

felino = Leopardo()
felino.mover()

peixe = Golfinho()
peixe.mover()

implementando
Cobra Rastejando
Leopardo Correndo
Golfinho Nadando

In [6]:
#Exercicio 1
a = set([1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89])
b = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13])

result = a.intersection(b)

print(result)

{1, 2, 3, 34, 5, 8, 13, 21, 55, 89}
{1, 2, 3, 5, 8, 13}

In [38]:
#Exercicio 2
a = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

b = list(map(lambda x: 2*x - 1, a))
print (b)

[1, 7, 17, 31, 49, 71, 97, 127, 161, 199]

In [10]:
#Exercicio 3
word = "atata"

if word[::] == word[::-1]:
    print("Passou, normal:", word[::], '\tInverso:', word[::-1])

Passou, normal: atata 	Inverso: atata

In [42]:
#Exercicio 4

primeirosNomes = ['Joao', 'Douglas', 'Lucas', 'José']
sobreNomes = ['Soares', 'Souza', 'Silveira', 'Pedreira']
idades = [19, 28, 25, 31]

pessoa = list(zip(primeirosNomes, sobreNomes, idades))

for i, j, k in pessoa:
    print(i, j,'- está com', k, 'anos')

Joao Soares - está com 19 anos
Douglas Souza - está com 28 anos
Lucas Silveira - está com 25 anos
José Pedreira - está com 31 anos

In [16]:
#Exercicio 5
a = [3, 25, 14, 25, 53, 1, 2, 4, 11, 11, 3, 4]

def tira_Duplicados(lista):
    lista.sort()
    for i in lista:
        if lista.count(i) > 1:
            lista.remove(i)
            print(lista)

tira_Duplicados(a)

[1, 2, 3, 4, 4, 11, 11, 14, 25, 25, 53]
[1, 2, 3, 4, 11, 11, 14, 25, 25, 53]
[1, 2, 3, 4, 11, 14, 25, 25, 53]
[1, 2, 3, 4, 11, 14, 25, 53]

In [17]:
#Exercicio 6

arq = open("numbers.txt", "r")

for line in arq.readlines():
    print(line)
    
arq.close()

1

12

31234

12

42



125

53

534

26

3456

24

26

346

324

In [51]:
#Exercicio 7
import json
arq = open("../semana_3/person.json", "r")

js = json.load(arq)

for key, value in js.items():
    print('{} = {}'.format(key, value))

name = Fulano Da Silva
endereco = Rua Sem Nome, 31
startDateExecution = 2019-06-25 16:25:23.233
endDateExecution = 2019-06-25 16:25:23.331
siteId = BrasilDesktop
sitePage = /
serverName = AS1332:10181
profileId = 8947071299
type = JSP_RENDERING
path = testado/com
performanceType = JSP_RENDERING

In [53]:
#Exercicio 8
a = [10, 12, 13, 15, 20, 25, 28, 32]  
    
def multiply_next(n):
    return n*(n+1)

def myMap(list, f):
    for i in list:
        print(f(i))
        
myMap(a, multiply_next)

110
156
182
240
420
650
812
1056

In [59]:
#Exercicio 9
def func(*args, **kwargs):
    
    for item in args:
        print(item)
    for key, value in kwargs.items():
        print(key, ':', value)
        
func(10, 14, nove='9', branco='FFF')

10
14
nove : 9
branco : FFF

In [111]:
#Exercicio 10


    
class Lampada(object):
    _state = False
    
    def __init__(self, lamp):
        self._state = lamp
        print("Lampada iniciou como", lamp)
    
    @classmethod
    def liga(self):
        self._state = True
    
    @classmethod
    def desliga(self):
        self._state = False
        
    @classmethod
    def esta_ligada(self):
        return self._state
    
l1 = Lampada(lamp = True)

#print(l1.esta_ligada())

l1.desliga()

print(l1.esta_ligada())

l1.liga()

print(l1.esta_ligada())

Lampada iniciou como True
False
False
True

In [224]:
#Exercicio 11
import re

def soma(list):
    somar = 0
    
    for i in list:
        if int(i):
            somar += int(i)
    
    return somar

num = input("Digite os numeros:")
           
num2 = re.split(',',num)

result =soma(num2)

print(result)

Digite os numeros:12, 125 , 125 , 12 , 1
275

In [ ]:
#Exercicio 12


def divideTres(list):
    if len(list)%3 == 0:
        div = round(len(list)/3)

        a= list[:div]
        b= list[div:div+div]
        c= list[div+div:len(list)]
        print("Dividido em 3 partes iguais:", a, b, c)
    else:
        print("Nao é possivel dividir em 3 partes iguais")

    
x = list([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18])

divideTres(x)

In [238]:
#Exercicio 13
speed = {'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 'july':54, 'Aug':44,
'Sept':54}
values = []

def tira_Duplicados(list):
    list.sort()
    for i in list:
        if list.count(i) > 1:
            list.remove(i)
    return list

            
    
def separa_Valor(dict):           
    for key, value in dict.items():
        values.append(value)
        print("chave:", key, "\tvalor:", value)
    
    return tira_Duplicados(values)

result = separa_Valor(speed)
    
print (result)

chave: jan 	valor: 47
chave: feb 	valor: 52
chave: march 	valor: 47
chave: April 	valor: 44
chave: May 	valor: 52
chave: June 	valor: 53
chave: july 	valor: 54
chave: Aug 	valor: 44
chave: Sept 	valor: 54
[44, 47, 52, 53, 54]

In [318]:
#Exercicio 14

import random
# amostra aleatoriamente 50 números do intervalo 0...500
random_list = random.sample(range(500), 50)
sum = 0
r2 = sorted(random_list)
print(r2)
mediana_index = round(len(random_list)/2)
print("O valor minimo da lista é ", r2[0])
print("O valor maximo da lista é", r2[len(random_list)-1])
print(mediana_index)
for i in r2:
    sum += i
    
print ("A média é", sum/len(random_list)-1)

if(len(random_list)%2 != 1):
    print ("A mediana é", r2[mediana_index-1], "e", r2[mediana_index])
else:
    print ("A mediana é", r2[mediana_index])

[8, 33, 60, 64, 71, 73, 101, 108, 111, 127, 130, 136, 144, 147, 156, 163, 165, 173, 179, 199, 202, 210, 213, 222, 227, 246, 265, 275, 281, 283, 293, 297, 304, 309, 310, 312, 322, 324, 342, 348, 389, 395, 399, 409, 412, 418, 450, 471, 487, 492]
O valor minimo da lista é  8
O valor maximo da lista é 492
25
A média é 244.1
A mediana é 227 e 246

In [322]:
#Exercicio 15
a = [1,1,2,3,5,8,13,21,34,55,89]

b = a[::-1]

print(b)

[89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1]

In [104]:
#Exercicio 16
import csv

arq = open('../semana_3/actors.csv', "r")
reader = csv.reader(arq)
next(reader)


actor = []
total_gross = []
number_of_movies = []
average_per_movie = []
first_movie = []
gross = []
soma = 0

for line in reader:
    
    soma += int(line[2])
    actor.append(line[0])
    total_gross.append(float(line[1]))
    number_of_movies.append(int(line[2]))
    average_per_movie.append(float(line[3]))
    first_movie.append(line[4])
    gross.append(float(line[5]))
    
media_movies = soma / (reader.line_num-1)
print("Exercicio 01:", max(number_of_movies),"Autor:", actor[number_of_movies.index(max(number_of_movies))])
print("Exercicio 02:", media_movies)
print("Exercicio 03:", max(average_per_movie),"Autor:", actor[average_per_movie.index(max(average_per_movie))])
print("Exercicio 04:", max(gross),"Filme:", first_movie[gross.index(max(gross))])

Exercicio 01: 79 Autor: Robert DeNiro
Exercicio 02: 37.88
Exercicio 03: 451.8 Autor: Anthony Daniels
Exercicio 04: 936.7 Filme: Star Wars: The Force Awakens